
.blog-container{
    padding: 3rem 1rem;
}
.blog .h-2{
    color:black;
    margin:1rem 0 2rem;
}
.blog-items{
    display: flex;
    /* justify-content: center; */
    align-items: stretch;
    flex-wrap: wrap;
}
.blog-item{
   
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 25px rgb(0, 0, 0);
    flex: 0 0 32%;
    margin: 1rem .6%;
    
}
@media screen and (max-width:800px){
    .blog-item{  
        flex: 0 0 45%;
    }
}
@media screen and (max-width:600px){
    .blog-item{  
        flex: 0 0 95%;
    }
}
.blog-date{
    position: absolute;
    top:0%;
    right:0%;
    padding: .4rem;
    background-color: white;
    font-size: 1.4rem;
    font-weight: 600;
}
.blog-item img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.blog-item-info{
padding: .4rem 1rem 0;
background-color: whitesmoke;
}
.blog-item .btn-small{
    display: inline-block;
    background-color: mediumseagreen;
    color:whitesmoke;
    border-radius: 5px;
}

.newslater-container{
    padding: 3rem 1rem;
    background-color: mediumseagreen;
}
.newslater-container .h-4{
    color:whitesmoke;
}
.n-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.newslater-box{
    border: none;
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
    outline: none;

    

}

.n-button{
    background-color: black;
    color:whitesmoke;
}

@media screen and (max-width:600px){
    .n-button,.newslater-box{
       width: 100%;
    }
    
}