
.review-container{
    background-color: black;
}
.review{
    padding: 3rem 1rem 5rem;
}

.review .h-2{
    color:mediumseagreen;
}
.review-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-item{
    padding: 1.5rem;
    /* background-color: mediumseagreen; */
    border: 6px solid rgb(255, 255, 255);
    border-radius: 10px 10px;

    /* flex: 0 0 30%;
    width: 30%; */
    margin: 1rem 1.5%;
    color: rgb(255, 255, 255);
    
}
.review-item .icon{
    display: block;
    text-align: center;
    font-size: 4rem;
}
.review-box-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.review-img{
    padding: .4rem;
    border:2px solid mediumseagreen;
    border-radius: 30px 10px 10px 10px;
    width: 72px;
    height: 72px;
    /* border-radius: 50%; */
    margin:0 10px;
}
.review-name{
    color:mediumseagreen;
    margin-top: 10px;
}
.review-description{
    margin: 10px 0 10px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    font-style: italic;
    text-align: center;
}

.glide__arrows{
    width: 100%;
    position: absolute;
    top:40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.glide__arrow{
    border-radius: 40%;
    padding: .5rem;
    border:1px solid mediumseagreen;
    color:white;
    background-color: mediumseagreen;
    
}
.glide__bullets{
    
    position: absolute;
    left:50%;

}
.glide__bullet{
    background-color: mediumseagreen;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;

}
.glide__bullet--active{
    background-color: rgb(255, 255, 255);
}